<style>
.achievements {
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.achievementstitle {
	margin: 20px 0px 0px 20px;
	font-family: "UbuntuMono-R.ttf";
	font-size: 35px;
}
</style>
<!-- START THE ACHIEVEMENTS -->

<div class="container-fluid achievements">
	<div class="row-fluid">
		<div class="achievementstitle"><kbd>Our achievements</kbd></div>
		<hr>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="row featurette">
				<div class="col-md-3">
					<img data-holder-rendered="true" src="{{ asset('bundles/ennvawebsite/images/CINECALOGO2008.jpg') }}"
						class="featurette-image img-responsive"
						data-src="holder.js/50x50/auto" alt="">
				</div>
				<div class="col-md-7">
					<h3 class="achievements-heading">
						First featurette heading. <span class="text-muted">It'll blow your
							mind.</span>
					</h3>
					<p class="">Donec ullamcorper nulla non metus auctor fringilla.
						Vestibulum id ligula porta felis euismod semper. Praesent commodo
						cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
						tellus ac cursus commodo.</p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="row featurette">
				<div class="col-md-3">
					<img data-holder-rendered="true" src="{{ asset('bundles/ennvawebsite/images/CINECALOGO2008.jpg') }}"
						class="featurette-image img-responsive"
						data-src="holder.js/50x50/auto" alt="">
				</div>
				<div class="col-md-7">
					<h3 class="achievements-heading">
						First featurette heading. <span class="text-muted">It'll blow your
							mind.</span>
					</h3>
					<p class="">Donec ullamcorper nulla non metus auctor fringilla.
						Vestibulum id ligula porta felis euismod semper. Praesent commodo
						cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
						tellus ac cursus commodo.</p>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- /END THE ACHIEVEMENTS -->