<!-- FOOTER -->
<footer>
	<div class="container">
		<div class="row">
			<!--  div class="col-xs-3 col-sm-3 col-md-3"-->
			<div class="col-xs-3 col-sm-3 col-md-3"">
				<p class="pull-left">
					<a href="#">Bla bla la</a>
				</p>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3"">
				<p class="pull-left">
					<a href="#">Bla bla la</a>
				</p>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3"">
				<p class="pull-left">
					<a href="#">Bla bla la</a>
				</p>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3"">
				<p class="pull-left">
					<a href="#">Back to top</a>
				</p>
			</div>
		</div>
		<div class="row ">
			<div class="col-xs-6 col-sm-6 col-md-6 mailfooter">
					<span class="glyphicon glyphicon-envelope">  info@ennva.com</span>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 footersocial">
					<span><img class="img-rounded" alt="" src="{{ asset('bundles/ennvawebsite/images/social/linkedin_circle.png') }}"></span>
					<span><img class="img-rounded" alt="" src="{{ asset('bundles/ennvawebsite/images/social/facebook_circle_color-128.png') }}"></span>
					<span><img class="img-rounded" alt="" src="{{ asset('bundles/ennvawebsite/images/social/circle-twitter-128.png') }}"></span>
			</div>
		</div>
	</div>
</footer>
<footer class="copyrightfooter">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 ">
				<p>
					© 2014 Ennva Solution, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a>
				</p>
			</div>
		</div>
	</div>
</footer>