.phonefooter{
	margin-top: 0px ;
	margin-bottom: 0px ;
	padding: 15px;
	font-family: "Ubuntu-C.ttf"; 
	font-size: 16px;
	display: block;
	float: left;
}

/*
.phonefooter > span{
	display: block;
	float: left;
}
*/
.adressfooter{
	margin-top: 0px ;
	margin-bottom: 0px ;
	padding: 15px;
	font-family: "Ubuntu-C.ttf"; 
	font-size: 16px;
	display: block;
	float: left;
}

.menufooter{
	color: #FFFFFF;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-family: "UbuntuMono-R.ttf"; 
}

.menufooter > p > a{
	color: #FFF;
	text-decoration: none;
}

.menufooter > p > a:hover{
	color: #337AB7;
}

.menufooter p:first-child{
	border-top: medium none;
	margin-top: 0px;
	padding-top: 9px;	
}

.menufooter > p{
	padding: 8px 0px 0px;
	margin: 9px 0px 0px;
	font-weight: 300;
	border-top: 1px solid #FFFFFF;
	line-height: 1;	
}

.footer-wrapper{
	background-color: #0F2741; 
	/*background-image: url(../images/guitar.png);*/
	background-repeat: no-repeat;
	background-position: center;
	/*opacity: 0.5; */
	filter: opacity(100%);
	color: white;	
}

.mailfooter{
	margin-top: 0px ;
	margin-bottom: 15px ;
	padding: 25px;
	font-family: "Ubuntu-C.ttf"; 
	font-size: 20px;
	display: block;
	float: left;
}

.footersocial > a > .img-rounded{
	height: 50px;
	width: 50px;
}

.footersocial{
	font-size: 16px;
	padding: 15px;
	font-family: "Ubuntu-B.ttf"; 
}

.img-rounded {
-webkit-border-radius: 6px;
-moz-border-radius:6px;
border-radius: 6px;
}		

.copyrightfooter{
	margin-top: 20px;
	font-size: 16px;
}

@font-face {
    font-family: 'Ubuntu-B.ttf';
    src: url('fonts/ubuntu/Ubuntu-B.ttf');
}

@font-face {
    font-family: 'Ubuntu-BI.ttf';
    src: url('fonts/ubuntu/Ubuntu-BI.ttf');
}

@font-face {
    font-family: 'Ubuntu-C.ttf';
    src: url('fonts/ubuntu/Ubuntu-C.ttf');
}

@font-face {
    font-family: 'Ubuntu-L.ttf';
    src: url('fonts/ubuntu/Ubuntu-L.ttf');
}

@font-face {
    font-family: 'Ubuntu-LI.ttf';
    src: url('fonts/ubuntu/Ubuntu-LI.ttf');
}

@font-face {
    font-family: 'Ubuntu-M.ttf';
    src: url('fonts/ubuntu/Ubuntu-M.ttf');
}

@font-face {
    font-family: 'Ubuntu-MI.ttf';
    src: url('fonts/ubuntu/Ubuntu-MI.ttf');
}

@font-face {
    font-family: 'UbuntuMono-B.ttf';
    src: url('fonts/ubuntu/UbuntuMono-B.ttf');
}

@font-face {
    font-family: 'UbuntuMono-BI.ttf';
    src: url('fonts/ubuntu/UbuntuMono-BI.ttf');
}

@font-face {
    font-family: 'UbuntuMono-R.ttf';
    src: url('fonts/ubuntu/UbuntuMono-R.ttf');
}

@font-face {
    font-family: 'UbuntuMono-RI.ttf';
    src: url('fonts/ubuntu/UbuntuMono-RI.ttf');
}

@font-face {
    font-family: 'Ubuntu-R.ttf';
    src: url('fonts/ubuntu/Ubuntu-R.ttf');
}

@font-face {
    font-family: 'Ubuntu-RI.ttf';
    src: url('fonts/ubuntu/Ubuntu-RI.ttf');
}