.footer-wrapper{
	background-color: #0F2741; 
	/*background-image: url(../images/guitar.png);*/
	background-repeat: no-repeat;
	background-position: center;
	/*opacity: 0.5; */
	filter: opacity(0%);
	color: white;	
}

.mailfooter{
	margin-top: 0px ;
	margin-bottom: 15px ;
	padding: 15px;
	font-family: "Ubuntu-C.ttf"; 
	font-size: 16px;
}

.footersocial > span > .img-rounded{
	height: 40px;
	width: 40px;
}

.footersocial{
	font-size: 16px;
	padding: 15px;
	font-family: "Ubuntu-B.ttf"; 
}

.img-rounded {
-webkit-border-radius: 6px;
-moz-border-radius:6px;
border-radius: 6px;
}		

.copyrightfooter{
	margin-top: 15px ;
}

@font-face {
    font-family: 'Ubuntu-B.ttf';
    src: url('fonts/ubuntu/Ubuntu-B.ttf');
}

@font-face {
    font-family: 'Ubuntu-BI.ttf';
    src: url('fonts/ubuntu/Ubuntu-BI.ttf');
}

@font-face {
    font-family: 'Ubuntu-C.ttf';
    src: url('fonts/ubuntu/Ubuntu-C.ttf');
}

@font-face {
    font-family: 'Ubuntu-L.ttf';
    src: url('fonts/ubuntu/Ubuntu-L.ttf');
}

@font-face {
    font-family: 'Ubuntu-LI.ttf';
    src: url('fonts/ubuntu/Ubuntu-LI.ttf');
}

@font-face {
    font-family: 'Ubuntu-M.ttf';
    src: url('fonts/ubuntu/Ubuntu-M.ttf');
}

@font-face {
    font-family: 'Ubuntu-MI.ttf';
    src: url('fonts/ubuntu/Ubuntu-MI.ttf');
}

@font-face {
    font-family: 'UbuntuMono-B.ttf';
    src: url('fonts/ubuntu/UbuntuMono-B.ttf');
}

@font-face {
    font-family: 'UbuntuMono-BI.ttf';
    src: url('fonts/ubuntu/UbuntuMono-BI.ttf');
}

@font-face {
    font-family: 'UbuntuMono-R.ttf';
    src: url('fonts/ubuntu/UbuntuMono-R.ttf');
}

@font-face {
    font-family: 'UbuntuMono-RI.ttf';
    src: url('fonts/ubuntu/UbuntuMono-RI.ttf');
}

@font-face {
    font-family: 'Ubuntu-R.ttf';
    src: url('fonts/ubuntu/Ubuntu-R.ttf');
}

@font-face {
    font-family: 'Ubuntu-RI.ttf';
    src: url('fonts/ubuntu/Ubuntu-RI.ttf');
}