nav{
	
}

.navbar-wrapper .navbar{
	margin-left: 0px;
	margin-right: 0px;
}

.navbar{
	background: none repeat scroll 0% 0% #0F2741;
}

.navbar-inverse{
	border-color: #0F2741;
	/*background-image: linear-gradient(to bottom, #0F2741, #003B7B)*/
	background-color: #0F2741;
}

.navbar-static-top{
	
}

.navbar-nav{
	float: right;
	margin-right: 0px;
}

.navbar-brand > img{
	height: 50px;
	width: 50px;
}

.navbar-brand > .img_art{
	font-family: 'Aclonica', serif;
	color: #fff;
	margin: -50px 0px 0px 55px;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.navbar-nav > .active > a {
	background-color: #003B7B; !important;
	color: #FFF;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}

.navbar-nav > li > a{
	padding-right: 10px;
	line-height: 20px;
	font-family: "Segoe UI",sans-serif;
	font-size: 18px;
	color: #FFFFFF !important;;
	z-index: 50; 
}

.navbar-nav > li:hover {
	visibility: visible;
	background-color: #1E639E;
}
/*
.navbar-nav > li:focus {
	visibility: visible;
	color: #FFFFFF;
}
*/

.dropdown-menu > li a{
	font-size: 16px;
}

.dropdown-menu > li a:hover{
	background-color: #1E639E !important;
}

.dropdown-submenu{
	position:relative;
	list-style-type: none;
}

.dropdown-submenu > li > a:hover {
	background-color: #1E639E;
}

.dropdown-submenu > li > a{
	
}

.dropdown-submenu > .dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  }
  
.dropdown-submenu:hover > .dropdown-menu{
	display:block;
}

.dropdown-submenu > a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
 }
 
.dropdown-submenu:hover > a:after{
  border-left-color:#ffffff;
 }
 
.dropdown-submenu.pull-left{
  float:none;
 }

.dropdown-submenu.pull-left > .dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
